<%- include('parts/header')%>
<%- include('parts/navbar')%>
 <br>
<div class="container">
    <% if(items.length === 0) { %>
        <p class="alert alert-danger"> there is no item</p>
    <% }else { %>
        <table class="table table-striped table-dark">
            <thead>
                <td>no</td>
                <td>Product Name</td>
                <td>Price</td>
                <td>Amount</td>
                <td>Total</td>
                <td></td>
            </thead>
            <tbody>
                <% for(let i =0 ; i < items.length ; i++ ) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= items[i].name %></td>
                        <td><%= items[i].price %> $</td>
                        <form method="post">
                            <td><input type="text" name="amount" class="form-control" value="<%= items[i].amount %>"></td>
                            <td> <%= items[i].price * items[i].amount %> $ </td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <input type="submit" class="btn btn-success" value="Save" formaction="/cart/save">
                                <input type="submit" class="btn btn-danger" value="Delete" formaction="/cart/delete">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>

<%- include('parts/footer')%>