<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
    <% if(!product) { %>
        <div class="alert alert-danger">
                there is no products match this ID
            </div>
    <% } else {%>
        <div class="row">
                <div class="col col-12 col-md-6">
                    <img src="/<%= product.image %>" style="width: 300px; height: 300px; margin: 10px;">
                    <form action="/cart" method="post">
                        <input type="number" name="amount" class="form-control">
                        <br>
                        <input type="submit" class="btn btn-primary" value="ADD to cart">
                    </form>
                </div>
                <div class="col col-12 col-md-6" style="margin:10px 0 10px 0">
                    <h3><%= product.name%></h3>
                    <h5><%= product.price%></h5>
                    <p><%= product.description%></p>
                </div>
        </div>
    <% } %>
</div>


<%- include('parts/footer')%>