<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container text-center">
    <h3>Create Account </h3>
    <form action="/signup" method="post">
        <input type="text" class="form-control" name="username" placeholder="username"><br>
        <% let userNameError = validationErrors.find(err=> err.param ==='username')%>
        <% if(userNameError ){ %>
            <p class="alert alert-danger">
                <%= userNameError.msg %>
            </p>
        <% } %>
        <input type="email" class="form-control" name="email" placeholder="email"><br>
        <% let emailError = validationErrors.find(err=> err.param ==='email')%>
        <% if(emailError ){ %>
            <p class="alert alert-danger">
                <%= emailError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="password" placeholder="password"><br>
        <% let passwordError = validationErrors.find(err=> err.param ==='password')%>
        <% if(passwordError ){ %>
            <p class="alert alert-danger">
                <%= passwordError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="confirmpass" placeholder="password confirm"><br>
        <% let confirmError = validationErrors.find(err=> err.param ==='confirmpass')%>
        <% if(confirmError ){ %>
            <p class="alert alert-danger">
                <%= confirmError.msg %>
            </p>
        <% } %>
        <input type="submit" class="btn btn-primary" value="Create Account"><br>
    </form>
    <br>
    <!-- <% if(authError){ %>
    <br>
    
        <%= authError %>
    </p>
    <% } %>

    <% for(let error of validationErrors) { %>
        <p class="alert alert-danger">
            <%= error.msg %>
        </p>
    <% } %> -->
    <br>
    <div>
        Already have Account ? <a href="/login">Login</a>
    </div>
</div>

<%- include('parts/footer')%>
