<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
     <a class="navbar-brand" href="/"><img src="/logo1.jpg" style="border-radius: 50%; width: 50px; height: 50px;"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item <%= pageTitle === 'Home' ? 'active' : '' %>">
           <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
         </li>
         <% if(isUser) { %>
            <li class="nav-item <%= pageTitle === 'Cart' ? 'active' : '' %>">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Orders</a>
            </li>
         <% }else { %>
            <li class="nav-item <%= pageTitle === 'Login' ? 'active' : '' %>">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item  <%= pageTitle === 'SignUP' ? 'active' : '' %>">
                <a class="nav-link" href="signup">Sign up</a>
            </li>
         <% } %>
         <% if(isAdmin){ %>
          <li class="nav-item  <%= pageTitle === 'Add Product' ? 'active' : '' %>">
              <a class="nav-link" href="/admin/add">Add Product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/admin/orders">Manage-Orders</a>
          </li>
         <% } %>
       </ul>
       <% if(isUser) { %>
          <form action="/logout" method="POST">
                <input type="submit" class="btn btn-danger" value="LOGOUT">
          </form>
      <% } %>
     </div>
    </div>
   </nav>